name: App CI

on: 
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.12"

            - name: Install deps
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Run test
              run: |
                pytest test_app.py
                algokit compile py contract.py --output-arc56 --out-dir contract_files
                algokitgen-py -a 'contract_files/TestContract.arc56.json' -o 'contract_files/TestClient.py'
